.BodyContainer {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--secondary);
  padding-left: calc(var(--sidebar-width));
  transition: padding 0.5s ease-in-out;
}
.Our_All_Content {
  padding: 1rem;
}
@media (max-width: 900px) {
  .BodyContainer {
    padding-left: 0;
  }
}
